#text {
	-fx-font-size: 13px;
	//-fx-font-weight: bold;
	-fx-text-fill: #222222;
	-fx-effect: dropshadow(gaussian, rgba(200, 200, 200, 0.5), 0, 0, 0, 1);
}

#pane {
	-fx-background-color: #888888;
	-fx-opacity: 0.5;
}

#pane:hover {
	-fx-background-color: #888888;
	-fx-opacity: 0.8;
}

#songInfoPane {
	-fx-background-color: #88888822;
}

#songInfoLabel {
    -fx-text-fill: white;
    -fx-opacity: 1.0;
}

.button {
	-fx-background-color: #c3c4c4, 
		linear-gradient(#d6d6d6 50%, white 100%),
		radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230, 230
		, 230, 0) 50%);
	-fx-background-radius: 30;
	-fx-background-insets: 0, 1, 1;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
}

.button:hover {
	-fx-background-color: #c3c4c4,
		linear-gradient(#dddddd 50%, #999999 100%),
		radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230, 230
		, 230, 0) 50%);
	-fx-background-radius: 30;
	-fx-background-insets: 0, 1, 1;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
}

.button:pressed {
	-fx-background-color: #c3c4c4,
		linear-gradient(#777777 50%, #dddddd 100%),
		radial-gradient(center 50% -40%, radius 200%, #777777 45%, rgba(230, 230
		, 230, 0) 50%);
	-fx-background-radius: 30;
	-fx-background-insets: 0, 1, 1;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
}